html,body{
  margin:0;
  padding:0;
  background-color: black;
  font-family: 'Dancing Script', cursive;
  color: white;
  text-align: center;
}

#contenedor{
  width: 900px;
  margin:auto;
  margin-top: 0;
  border-radius: 25px;
  animation: slideIn 3s;
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  font-size: 45px;
}

header a,header a:visited,header a:link{
  color: white;
}

.titulo,.navegacion{
  margin: auto;
  text-decoration: none;
}

/*footer*/
div[class*="columna"]{
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  color: black;
}
footer{
  background-color: #C6d5c5;
  display: flex;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
  text-align: center;
  margin: 0;
}
/*media queries*/
@media (max-width:600px) {
  .contenedor{
    width: 100%;
  }
  header{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu{
    padding-bottom: 20px;
  }
  footer{
    display: flex;
    flex-direction: column;
    font-size: 35px;
  }
  div[class*="columna"]{
    padding-left: 0;
    padding-bottom: 2%;
  }
}
/*animacion*/
@keyframes slideIn {
  0%{
    margin-top:150%;
  }
  60%{
    margin-top:-5%;
  }
  100%{
    margin-top:0%;
  }
}
