*{
  margin: 0;
}

body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  width: 80%;
  margin-left: 10%;
  margin-top: 0;
}

#encabezado{
  font-size: 35px;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  height: 80px;
  padding-top: 20px;
}

a{
  color: white;
  text-decoration: none;
}

 a:hover{
  text-decoration: underline;
  color: white;
}

#nombre{
  text-shadow: 2px 2px #02010a;
  padding-left: 15px;
}

.navegacion{
  float: right;
  padding-right: 20px;
}

section{
  background-color: #82c3a6;
} /*solo para index*/

#imagen-principal{
  width: 90%;
  margin: 2% 5%;
  box-shadow: 4px 4px;
}
